<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379423467809-bvbr384rg734utkokl8sqibpj6sel487.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379423467809-bvbr384rg734utkokl8sqibpj6sel487</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>379423467809-pi3c3tun5nt1ejjgaif38qjdau751ouj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCJTi0ixI13aK6vz4kcYMZuRnQoZLIrRUs</string>
	<key>GCM_SENDER_ID</key>
	<string>379423467809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.Mydatabase</string>
	<key>PROJECT_ID</key>
	<string>mydatabase-92466</string>
	<key>STORAGE_BUCKET</key>
	<string>mydatabase-92466.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379423467809:ios:308a9c8e1afd422ba7b660</string>
</dict>
</plist>